@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
  }
  
  
  
  ul li {
      @apply font-bold text-[17px] py-[12px] pl-[50px] pr-[8px] cursor-pointer select-none relative;
    }


    ul li::before{
        @apply content-[''] absolute h-[28px] w-[28px] rounded-[50%] bg-cover bg-center top-[12px] left-2;
        background-image: url(images/unchecked.png);
    }

    ul li.checked::before{
        @apply background-image: url(images/checked.png);
    
    }

    ul li spanclass{
      @apply absolute right-0 top-[5px] w-[40px] h-[40x] text-[300px] color-[#555] leading-[40px] text-center rounded-[50%]
    }

    ul li spanclass:hover{
      @apply bg-[#3a5488]
    }

  }























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































